# Basic transformations

Let's show some SpectroChemPy features on a group of IR spectra

In [ ]:
import spectrochempy as scp
from spectrochempy import MASKED
from spectrochempy import DimensionalityError
from spectrochempy import error_

In [ ]:
dataset = scp.read_omnic("irdata/nh4y-activation.spg")
dataset.y -= dataset.y[0]
dataset.y.title = "time"
dataset

In [ ]:
prefs = dataset.preferences
prefs.figure.figsize = (6, 3)
prefs.colormap = "Dark2"
prefs.colorbar = True
ax = dataset.plot()

## Masking data

if we try to get for example the maximum of this dataset, we face a problem due to the saturation around
1100 cm$^{-1}$.

In [ ]:
dataset.max()

One way is to apply the max function to only a part of the spectrum (using [slicing](slicing.rst)). Another way is to
mask the undesired data.

Masking values in this case is straightforward. Just set a value `masked` or True for those data you want to mask.

In [ ]:
dataset[:, 1290.0:890.0] = MASKED
# note that we specify floating values in order to sect wavenumbers, not index.

Here is a display the figure with the new mask

In [ ]:
_ = dataset.plot_stack()

Now the max function return the  maximum in the unmasked region, which is exactly what we wanted.

In [ ]:
dataset.max()

To clear this mask, we can simply do:

In [ ]:
dataset.remove_masks()
_ = dataset.plot()

## Transposition

Dataset can be transposed

In [ ]:
dataset[:, 1290.0:890.0] = MASKED  # we mask the unwanted columns
t_dataset = dataset.T
t_dataset

As it can be observed the dimension `x`and `y`have been exchanged, *e.g.* the original shape was **(x: 5549, y: 55)**,
and after transposition it is **(y:55, x:5549)**.
(the dimension names stay the same, but the index of the corresponding axis are exchanged).

Let's visualize the result:

In [ ]:
_ = t_dataset.plot()

## Changing units

Units of the data and coordinates can be changed, but only towards compatible units. For instance, data are in
absorbance units, which are dimensionless (**a.u**). So a dimensionless units such as **radian** is allowed,
even if in this case it makes very little sense.

In [ ]:
dataset.units = "radian"

In [ ]:
_ = dataset.plot()

Trying to change it in 'meter' for instance, will generate an error!

In [ ]:
try:
    dataset.to("meter")
except DimensionalityError as e:
    error_(DimensionalityError, e)

If this is for some reasons something you want to do, you must for the change:

In [ ]:
d = dataset.to("meter", force=True)
d.units

When units are compatible there is no problem to modify it. For instance, we can
change the `y` dimension units (
Time) to hours. Her we use the inplace transformation `ito` .

In [ ]:
dataset.y.ito("hours")
_ = dataset.plot()

See [Units and Quantities](../objects/dataset/dataset.rst#Units) for more details on these units operations